NODE_ENV=development
MONGO_URI=mongodb://mongo:27017/smartchainai
JWT_SECRET=36a8b28c9e0246ed6b1058f9c4998b97
JWT_EXPIRES_IN=7d
PORT=5000
FRONTEND_URL=http://localhost:5173
AI_SERVICE_URL=http://localhost:8000
GOOGLE_MAPS_API_KEY=AIzaSyDKQEYlzdG9OQ6B7vPtHkzNBNbTkkLrKt4
VITE_API_URL=http://localhost:5000/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
AI_PORT=8000
AI_MODEL_PATH=./models/sensechain.joblib